@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500');
/* Footer */
html,
body {
  height: 100%;
}
.wrap {
  min-height: 90%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.footer {
  padding-bottom: 4rem;
  padding-top: 30px;
  width: 100%;
}
/* Header */
.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header h1 {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #FFF;
}
/* Body */
.intro {
  padding-top: 6em;
  padding-bottom: 6em;
}
.intro i {
  padding-bottom: 15px;
}
.section {
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-text {
  padding: 7em;
}
/* Text */
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
p,
a,
li {
  font-family: 'Montserrat', sans-serif;
}
